'name': 'KMDoc'
'scopeName': 'source.kmd'
'fileTypes': ['kmd','KMD']
'patterns': [
  {
    'comment': 'level'
    'captures':
      '1':
        'name': 'keyword.control.kmd'
      '2':
        'name': 'constant.character.kmd'
      '4':
        'name': 'comment.line.kmd'
    'match': '\\(\\((LV)\\)\\)\\t([A-Z]{2})(\\s*?)(//.*)?'
    'name': 'string.single.kmd'
  }
  {
    'comment': 'language: original text'
    'captures':
      '1':
        'name': 'keyword.operator.kmd'
      '2':
        'name': 'comment.line.kmd'
    'match': '\\(\\((OR)\\)\\)\\t.*?(//.*)?'
    'name': 'markup.raw.kmd'
  }
  {
    'comment': 'language: korean text'
    'captures':
      '1':
        'name': 'keyword.other.kmd'
      '2':
        'name': 'comment.line.kmd'
    'match': '\\(\\((KR)\\)\\)\\t.*?(//.*)?'
    'name': 'string.double.kmd'
  }
  {
    'comment': 'language: etc text'
    'captures':
      '1':
        'name': 'keyword.other.unit.kmd'
      '2':
        'name': 'comment.line.kmd'
    'match': '\\(\\(([A-Z]{2})\\)\\)\\t.*?(//.*)?'
    'name': 'string.interpolated.kmd'
  }
  {
    'comment': '의미분류'
    'captures':
      '1':
        'name': 'support.class.kmd'
      '3':
        'name': 'keyword.operator.kmd'
      '4':
        'name': 'variable.language.kmd'
      '5':
        'name': 'keyword.operator.kmd'
      '6':
        'name': 'comment.line.kmd'
    'match': '(\\[.+?\\])\\t((\\(\\()(.+?)(\\)\\)))?.*?\\s*?(//.*)?'
    'name': 'meta.class.kmd'
  }
  {
    'comment': 'inline: 교감기/역자주'
    'captures':
      '1':
        'name': 'entity.name.tag.kmd'
      '2':
        'name': 'string.interpolated.kmd'
      '3':
        'name': 'keyword.operator.kmd'
      '4':
        'name': 'string.regexp.kmd'
      '5':
        'name': 'entity.name.tag.kmd'
    'match': '(\\{)(.+?)([=:])(.+?)(\\})'
    'name': 'meta.kmd'
  }
  {
    'comment': 'inline: 스타일'
    'captures':
      '1':
        'name': 'entity.name.tag.kmd'
      '3':
        'name': 'variable.language.kmd'
      '4':
        'name': 'string.regexp.kmd'
      '5':
        'name': 'entity.name.tag.kmd'
    'match': '(\\[)((sm|lg|ip|ps|ng)/)?(.+?)(\\])'
    'name': 'meta.kmd'
  }
  {
    'comment': 'comments'
    'captures':
      '1':
        'name': 'comment.kmd'
    'match': '.*?(//.*)'
    'name': 'none.kmd'
  }
]
